<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.villadelsol">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_blanco"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_blanco_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VillaDelSol"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ConfirmedUpdate"
            android:exported="false"
            android:label="Actualizar Cita"/>
        <activity
            android:name=".UpdateDate"
            android:exported="false" />
        <activity
            android:name=".DashboardAdmin"
            android:exported="false"
            android:label="@string/title_activity_dashboard_admin" />
        <activity
            android:name=".PaquetesR2"
            android:exported="false" />
        <activity
            android:name=".PaquetesR1"
            android:exported="false" />
        <activity
            android:name=".Salon2"
            android:exported="false"
            android:label="Salon 2" />
        <activity
            android:name=".Salon1"
            android:exported="false"
            android:label="Salon 1" />
        <activity
            android:name=".AgeDate"
            android:exported="false"
            android:label="Agendar Cita" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.VillaDelSol.NoActionBar" />
        <activity
            android:name=".ActividadInicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>